.main {
    overflow: hidden;
    clear: both;
}

.content-section {
    float: left;
    width: calc( 100% - 420px );

    @media screen and ( max-width: 1400px ) {
        width: 70%;
    }

}

.sidebar {
    float: right;
    background-color: $mobile-menu-background-color;
    width: 420px;

    @media screen and ( max-width: 1400px ) {
        width: 30%;
    }
}

@media screen and ( max-width: 900px ) {
    .content-section, .sidebar {
        @include non-float-anymore;
    }
}

.content-section, .sidebar {
    @include padding-trick;
}

.bottom-modules-wrapper {
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
    clear: both;
}

.right {
    float: right !important;
}

ul, li {
    list-style: none;
}