.m11 {

    h3 {
        font-size: 25px;
        background-color: #000000;
        color: #ffffff;
        padding: $general-margin-padding;

        i {
            padding-right: $icon-margin-padding;
        }
    }

    ul {
        width: 100%;

        li span, li a {
            display: block;
            width: 100%;
            padding: $general-margin-padding;
            color: #ffffff;
        }

        li a {
            display: block;
            text-decoration: none;
            transition: border-left-color 0.5s ease;
            -webkit-transition: border-left-color 0.5s ease;
            border-left: 8px solid #804613;
            padding-left: 10px;

            &:hover {
                border-left-color: #00B2A1;
            }
        }

    }

    &__year-list {
        background-color: #BE4B15;
    }

    &__month-list {
        background-color: #00B2A1;
    }

    &__post-list {
        background-color: #FF6319;
    }

    &__month-list, &__post-list {
        display: none;
    }

    &__icon-angle {
        padding-left: $icon-margin-padding;
        font-weight: bold !important;
    }
}