.m12 {
    display: block;
    overflow: hidden;
    clear: both;
    background-color: $fb-dark-color;

    &__section {
        padding-bottom: $padding-trick;
        margin-bottom: $margin-trick;
    }

    &__section-text {
        width: 70%;
        float: left;
        color: #ffffff

        h2, p {
            padding: $general-margin-padding;
        }
    }

    &__section-link {
        width: 30%;
        float: right;
        background-color: $fb-background-color;

        
    }
}