.m13 {
    display: block;
    overflow: hidden;
    clear: both;
    background-color: #CAD6D3;

    &__section {
        padding-bottom: $padding-trick;
        margin-bottom: $margin-trick;
        color: #000000;

        h3 {
            font-size: 30px;
            width: 400px;
            text-align: center;
            padding: 30px 0;
            margin: $auto;
        }

        p {
            width: 85%;
            margin: $auto;
            line-height: $general-line-height;
        }

        &--form {
            padding: 30px 0;
            margin: $auto;
            width: 85%;

            input {
                display: block;
                width: 400px;
                margin: 15px auto;
                border: 0;

                &[type="text"] {
                    background-color: transparent;
                    padding: 5px;
                    border-bottom: 1px solid $light-grey;
                    @include do-transition( border-bottom-color );

                    &:focus, &:hover {
                        outline: 0;
                        border-bottom-color: $black-grey;
                    }
                }

                &[type="submit"] {
                    margin-top: 25px;
                    @include base-submit-input( 400px, 10px 0 , $submit-red, $white );
                    @include do-transition( background-color );

                    &:hover {
                        background-color: #8A0638;
                    }
                }
            }
        }
    }
}