.m18 {
    
    p {
        width: 80%;
        max-width: 1200px;
        padding: 35px 0 8px 35px;
        line-height: $general-line-height;

        a {
            @include baselink( $fb-background-color );
            @include link-border-animated( $fb-background-color, 0 );
        }
    }

    img {
        display: block;
        width: 90%;
        height: auto;
        margin: $auto;
    }
}