.m2 {

    &__main-menu {
        overflow: hidden;
        clear: left;
        display: block; 
        list-style: none;
        margin: 15px 0 0 20px;

        li {
            float: left;

            a {
                display: block;
                text-decoration: none;
                font-size: 2em;
                padding: 0 12px;
                color: #000000;
                transition: all 0.5s ease;
                -webkit-transition: all 0.5s ease;

                &:hover {
                    color: #6A7EFF;
                }
            }
        }
    }
}