.m2 {

    &__video {
        padding-top: 22px;
        object-fit: initial;
        display: block;
        width: 100%;
        height: auto;
        position: relative;
        max-height: 350px;
    }
}