.m24 {

    &__title {
        color: $git-purple;
        text-align: center;
        font-size: 300px !important;
    }

    &__number-left {
        margin-right: -40px;
    }

    &__number-right {
        margin-left: -40px;
    }
}