.m24 {

    &__title {
        color: $git-purple;
        text-align: center;
        font-size: 300px !important;

        @media screen and ( max-width: 740px ) {
            font-size: 240px !important;
        }

        @media screen and ( max-width: 550px ) {
            font-size: 170px !important;
        }
    }

    &__number-left {
        margin-right: -40px;
    }

    &__number-right {
        margin-left: -40px;
    }
}