.m34 {
    padding: $general-margin-padding;

    &__title  {
        margin-bottom: 25px;
        font-size: 30px;
        width: 90%;

        @media screen and ( max-width: 650px ) {
            font-size: 24px;
        }
    }

    .posts-list {
        margin-top: 40px;
        
        &__post-link {
            display: block;
            position: relative;
            text-decoration: none;
            color: $black;
            margin-bottom: 30px;
        }

        &__section {
            width: 58%;
            display: inline-block;
            vertical-align: top;

            h3 {
                font-size: 25px;
                padding-bottom: 5px;
                border-bottom: 2px solid #8A0638;
                width: 100%;
                max-width: 500px;
                
                @media screen and ( max-width: 1200px ) {
                    padding-top: 10px;
                }
            }

            &--image-wrapper {
                width: 37%;
                min-width: 350px;
                max-width: 400px;

                img {
                    max-width: 350px;
                    height: auto;

                    @media screen and ( max-width: 1200px ) {
                        width: 100%;
                        height: auto;
                    }
                }
            }

            @media screen and ( max-width: 1200px ) {
                display: block;
                width: 100%;
            }
        }

        &__post-data-list {
            margin-top: 5px;

            li {
                display: inline-block;
                color: #635f5f;
                padding-right: 10px;
                font-size: 16px;
            }
        }

        &__excerpt {
            padding: 10px 0;
            width: 90%;
        }

        &__read-more {
            display: block;
            max-width: 90px;
            margin-right: 0;
            margin-top: 15px;
            width: 100%;
            color: $black;
            text-decoration: none;
            @include link-border-animated( #8A0638 );

            i {
                color: #8A0638;
                padding-left: 5px;
            }

            @media screen and ( max-width: 1200px ) {
                position: relative;
                bottom: initial;
                right: initial;
                margin-top: 20px;
                max-width: 550px;
            }

        }
    }
}