.m4 {
    
    &__header {
        position: relative;
        height: 290px;
        background-position: center;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        h2 {
            display: block;
            position: absolute;
            width: 320px;
            margin: 60px 0 0 40px;
            background-color: #000000;
            padding: 25px;

            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";       /* IE 8 */
            filter: alpha(opacity=80);  /* IE 5-7 */
            -moz-opacity: 0.8;          /* Netscape */
            -khtml-opacity: 0.8;        /* Safari 1.x */
            opacity: 0.8;               /* Good browsers */

            span {
                opacity: 1;
                font-size: 35px;
                color: #ffffff;
            }
        }
    }

    &__post-data {
        overflow: hidden;
        clear: both;
        background-color: #ffffff;

        .excerpt {
            float: left;
            width: 70%;
            padding-bottom: $padding-trick;
            margin-bottom: $margin-trick;

            p {
                width: 80%;
                display: block;
                padding: $general-margin-padding $general-margin-padding;
                line-height: 1.5;
                color: #000000;
            }
        }

        .post-info-wrapper {
            float: right;
            width: 30%;
            background-color: #000000;
            padding-bottom: $padding-trick;
            margin-bottom: $margin-trick;

            ul {
                padding: $general-margin-padding;

                li {
                    padding: 5px 0;
                    color : $link-grey;
                    i {
                        font-size: 22px;
                        width: 25px;
                        padding-right: 5px;
                    }

                    a {
                        text-decoration: none;
                        vertical-align: top;
                        color: $link-grey;
                        transition: color 0.5s ease;
                        -webkit-transition: color 0.5s ease;

                        &:hover {
                            color: #ffffff;
                        }
                    }
                }
            }
        }
    }
}