.m6 {

    overflow: hidden;
    clear: both;
    background-color: $mobile-menu-background-color;

    &__section {
        padding-bottom: $padding-trick;
        margin-bottom: $margin-trick;
    }

    &__section-text {
        float: left;
        width: 70%;
        background-color: $mobile-menu-background-color;

        p {
            font-size: 25px;
            color: #ffffff;
            padding: 50px 25px;
        }
    }

    &__section-link {
        float: right;
        display: block;
        text-decoration: none;
        width: 30%;
        color: $black-grey;
        background-color: $mobile-light-color;
        transition: background-color 0.5s ease;
        -webkit-transition: background-color 0.5s ease;

        &:hover {
            background-color: #626BB0;
        }

        i {
            margin-right: auto;
            margin-left: 40%;
            font-size: 60px;
            padding: 40px 0;

            @media screen and ( max-width: 480px ) {
                margin-left: 35%;
            }
        }
    }
}