.main-footer {
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
    clear: both;
    /*background-color: #F6F0FF;*/
    background-color: $black-brown-4;
    color: $white;

    &__section {
        width: 50%;
        float: left;

        ul {
         padding: 15px;

            li {
                padding: 10px;

                .author-a {
                    color: $brown-2;
                    text-decoration: none;
                    display: inline-block;
                    @include link-border-animated( $brown-2, 0 );
                }
            }
        }

        p {
            padding: 20px;
            text-align: center;
        }
    }

    &__social-links {
        width : 200px;
        margin-left: auto;

        li {
            display: inline-block;

            .social-a {
                color: white;
                font-size: 36px;
                display: inline-block;
                padding-right: 15px;
                @include do-transition( color );

                &:hover {
                    color: $brown-1;
                }
            }
        }
    }

    &__bottom-section {
        overflow: hidden;
        clear: both;
        // background-color: $white;
        padding-top: 16px;

        img {
            display: block;
            width: 100px;
            height: auto;
            margin: $auto;
        }

        p {
            width: 100%;
            text-align: center;
            padding: 14px 0;
            line-height: $general-line-height;
        }

    }
}

.git-link {
    display: block;
    width: 180px;
    margin: $auto;
    font-size: 100px;
    color: $git-purple;
    background-color: $white;
    border-radius: 50%;
    padding: 10px;

    i {
        display: inline-block;
        width: 178px;
        text-align: center;
    }

    &:hover {
        animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
    }

    @keyframes shake {
        10%, 90% {
          transform: translate3d(-1px, 0, 0);
        }
        
        20%, 80% {
          transform: translate3d(2px, 0, 0);
        }
      
        30%, 50%, 70% {
          transform: translate3d(-4px, 0, 0);
        }
      
        40%, 60% {
          transform: translate3d(4px, 0, 0);
        }
      }
}