.footer {	
	background-color: #000000;
	color: #FFFFFF;

	&__list {
		padding: 10px 0;
		 li {
		 	padding: 8px 0 8px 10px;
		 }

		 a {
		 	text-decoration: none;
		 	color: $black-orange;
		 	&:hover {
		 		text-decoration: underline;
		 	}

		 }
	}

	.left {
		padding-top: 15px;
	}
}