
/* Mobile search form */
.mobile-search-form {
	padding: $mobile-menu-padding 0 0 $mobile-menu-padding;

  input[type='text'] {
  	background-color: transparent;
  	color: white;
  	padding: 0 0 8px 5px;
  	border: none;
  	border-bottom: 1px #5A63A3 solid;
  	font-size: $mobile-font-size;
  	max-width: 180px;
  	-webkit-transition: border-bottom-color linear 0.2s;
		 transition : border-bottom-color linear 0.2s;

  	&:focus{
  	 outline: none;
     border-bottom-color: $mobile-light-color;
  	}

  }

  a {
  	color: $mobile-light-color;

  	i {
  		padding: 5px 0 0 8px;
  	}
  }

}

/* Contact form */
.contact-form {
	width: 100%;
	margin: 30px auto;
	padding: 30px 0 30px 30px;
	background-color: #E3BDEA;

	input, textarea {
		display: block;
		margin-top: 25px;
	}

	&__text-input {
		@include base-submit-input( 300px, 5px, transparent );
		@include do-transition( border-bottom-color );
		border-bottom: 2px solid #C393CC;

		&:hover, &:focus {
			outline: 0;
			border-bottom-color: $form-pink;
		}
	}

	&__textarea {
		@include base-submit-input( 500px, 5px, transparent );
		@include do-transition( border-bottom-color );
		border-bottom: 2px solid #C393CC;

		&:hover, &:focus {
			outline: 0;
			border-bottom-color: $form-pink;
		}
	}

	&__submit-input {
		@include base-submit-input( 310px, 10px 0, $form-pink, $white );
		@include do-transition( background-color );
		margin: 35px 0 15px 0 !important;

		&:hover {
			background-color: #621271;
		}
	}
}

/* Serach page search form */
.search-page-form {

	&__404 {
		width: 50%;
		margin: 0 auto;
		margin-bottom: 30px;
	}
	
	&__input-text {
		width: 400px;
		margin: 35px 5px 0 35px;
		padding: 7px;
		border-radius: 15px;
		border: 1px solid $link-grey;
		outline: 0;
		@include do-transition( border-color );

		&:hover, &:focus {
			border-color: $black;
		}
	}
	
	.btn-search-page-submit {
		padding: 7px 25px;
		margin-left: 10px;
		border-radius: 10px;
		border: 1px solid transparent;
		color: white;
		background-color: $git-purple;
		@include do-transition( background-color );

		&:hover {
			background-color: $form-pink;
		}
	}
}