
/* Mobile search form */
.mobile-search-form {
	padding: $mobile-menu-padding 0 0 $mobile-menu-padding;

  input[type='text'] {
  	background-color: transparent;
  	color: white;
  	padding: 0 0 8px 5px;
  	border: none;
  	border-bottom: 1px #5A63A3 solid;
  	font-size: $mobile-font-size;
  	max-width: 180px;
  	-webkit-transition: border-bottom-color linear 0.2s;
		 transition : border-bottom-color linear 0.2s;

  	&:focus{
  	 outline: none;
     border-bottom-color: $mobile-light-color;
  	}

  }

  a {
  	color: $mobile-light-color;

  	i {
  		padding: 5px 0 0 8px;
  	}
  }

}

/* Contact form */
.contact-form {
	width: 100%;
	margin: 30px auto;
	padding: 30px 0 30px 30px;
	background-color: #E3BDEA;

	input, textarea {
		display: block;
		margin-top: 25px;
	}

	&__text-input {
		@include base-submit-input( 300px, 5px, transparent );
		@include do-transition( border-bottom-color );
		border-bottom: 2px solid #C393CC;

		&:hover, &:focus {
			outline: 0;
			border-bottom-color: $form-pink;
		}
	}

	&__textarea {
		@include base-submit-input( 500px, 5px, transparent );
		@include do-transition( border-bottom-color );
		border-bottom: 2px solid #C393CC;

		&:hover, &:focus {
			outline: 0;
			border-bottom-color: $form-pink;
		}

		@media screen and ( max-width: 565px ) {
			width: 300px;
		}
	}

	&__submit-input {
		@include base-submit-input( 310px, 10px 0, $form-pink, $white );
		@include do-transition( background-color );
		margin: 35px 0 15px 0 !important;

		&:hover {
			background-color: #621271;
		}
	}
}

/* Serach page search form */
.search-page-form {

	&__404 {
		width: 50%;
		margin: 0 auto;
		margin: 30px auto 60px auto;

		@media screen and ( max-width: 1066px ) {
			.btn-search-page-submit {
				margin: 15px 0 0 39px !important;
			}
		}

	}


	&__input-text {
		width: 400px;
		margin: 35px 5px 0 35px;
		padding: 7px;
		border-radius: 15px;
		border: 1px solid $link-grey;
		outline: 0;
		@include do-transition( border-color );

		&:hover, &:focus {
			border-color: $black;
		}

		@media screen and ( max-width: 740px ) {
			width: 200px;
		}
	}

	&__input-text--sidebar {
		width: 200px;
		margin: 0 0 0 20px;
		border-color: transparent;
	}
	
	.btn-search-page-submit {
		padding: 7px 25px;
		margin-left: 10px;
		border-radius: 10px;
		border: 1px solid transparent;
		color: white;
		background-color: $git-purple;
		@include do-transition( background-color );

		&--sidebar {
			background-color: #8f6ad6;
		}

		&:hover {
			background-color: $form-pink;
		}

		@media screen and ( max-width: 1200px ) {
			margin: 15px 0 0 24px;
		}
	}
}

.g-recaptcha {
	margin-top: 35px;
	margin-top: 20px;
}

.basic-comment {
	padding-bottom: 39px;

	&__section {
		padding-bottom: 30px;
	}

	&__field-name {
		display: inline-block;
		min-width: 200px;
		
		@media screen and ( max-width: 565px ) {
			padding-bottom: 15px;
		}
	}

	&__field-name--comment-field {
		vertical-align: top;
	}

	&__basic-text, &__comment-field {
		padding: 10px;
		width: 100%;
		max-width: 350px;
		outline-width: 0;
		outline: none;

		@media screen and ( max-width: 565px ) {
			max-width: 250px;
			margin: 0 auto;
		}
	}

	&__comment-field {
		min-height: 200px;
	}

	&__recaptcha {
		display: inline-block;
		margin-top: 2px;
	}

	&__submit {
		@include base-submit-input( 310px, 10px 0, $git-purple, $white );
		@include do-transition( background-color );

		&:hover {
			background-color: $black-grey;
		}
	}
}

.comment-form {

	&__title {
		text-align: center;
		padding: 35px 0 55px 0;
		font-size: 35px;

		i {
			padding-right: 5px;
			font-size: 37px;
		}

		@media screen and ( max-width: 600px ) {
			padding: 15px 0 35px 0;
			font-size: 25px;
		}
	}

	.form {
		width: 100%;
		max-width: 550px;
		margin: $auto;

		&__section {
			margin-bottom: 20px;

			@media screen and ( max-width: 600px ) {
				width: 80%;
				margin: 0 auto 20px auto;
			}
		}

		&__basic-label, &__basic-text, &__content {
			display: block;
		}

		&__basic-label {
			font-style: italic;
			color: #656161;
		}

		&__basic-text, &__content, &__btn {
			width: 100%;
			max-width: 600px;
			padding: 8px 5px;
			border-radius: 5px;
		}

		&__basic-text, &__content {
			margin-top: 8px;
			border: 1px solid grey;
		}

		&__content {
			min-height: 250px;
		}

		&__basic-checkbox, &__privacy-text {
			display: inline-block;
		}

		&__basic-checkbox {
			vertical-align: top;
			margin-left: 5px;
		}

		&__privacy-text {
			width: 80%;
			padding-left: 10px;
			font-size: 13px;

			a {
				text-decoration: none;
				color: #44999a;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		&__error-message {
			display: none;
			color: #E03131;
			font-size: 13px;
			padding-top: 7px;
		}

		&__loader {
			display: none;
			margin: 0 auto;
			padding-top: 10px;
		}

		&__btn {
			background: none;
			border: 0;
			color: inherit;
			font: inherit;
			line-height: normal;
			overflow: visible;
			-webkit-appearance: button; /* for input */
			-webkit-user-select: none; /* for button */
			-moz-user-select: none;
			-ms-user-select: none;
			color: $white;
			background-color: #515caf;
			margin-top: 10px;
			padding: 10px 5px;
			@include do-transition( background-color, 0.3s, ease );
			
			&:hover {
				background-color: #202654;
			}
		}
	}
}



