
.panel {
	position: fixed;
	left: -15.6em;
	width: 15.6em;
}

.wrap {
	position: relative;
}

.panel-right {
	position: fixed;
	right: -15.6em;
	width: 15.6em;
}

.menu-mobile {
	background-color: $mobile-menu-background-color;

  ul {
   list-style: none; 
   padding: $mobile-menu-padding 0 0 $mobile-menu-padding;
	}

	ul li a {
		display: block;
		color: white;
		text-decoration: none;
		padding: 12px 0;
		font-size: $mobile-font-size;
		 -webkit-transition: padding-left linear 0.2s;
		 transition : padding-left linear 0.2s;

		 &:hover {
		 	padding-left: 10px;
		 }
	}

	ul li a i {
		padding-right: 8px;
		color: $mobile-light-color;
	}


}

.wrapper-link {
	position: relative;
	display: block;
	text-decoration: none;
}

.main-menu {
	ul {
		padding-top: 28px;

		li {
			display: inline-block;

			a {
				@include baselink;
				font-size: 20px;
				padding: 8px;
				border-bottom: 2px solid #808080;
				@include do-transition( border-bottom-color );
	
				&:hover {
					border-bottom-color: #FF650F;
				}

			}
		}
	}
}

.link-disabled {
	color: #808080 !important;
	cursor: default;
}

.animated-bottom-link {
	@include baselink( $fb-background-color );
	@include link-border-animated( $fb-background-color, 0 );
}