.main-sidebar  {

	&__block {

		h3 {
			background-color: $black-orange;
			color: #FFFFFF;
			padding: 18px 0;

			i {
				padding: 0 10px;
				font-size: 25px;
			}
		} 
	}

	 &__content {
	  padding: 22px 12px;	

	  p{
	    font-size: $main-sidebar-font;
	    line-height: 1.45;
	    padding: 8px;

	    .quote {
	     font-size: 12px;
      }

	  }
	 }

}

.sidelist-wrapper{ 
	display: block;
	width: 100%;
  color: #FFFFFF;	
  overflow: hidden;
  clear: both;
  padding: 8px 0;

  span {
  	padding: 15px 0;
  	padding-right: 10px;
  	padding-left: 10px;
  	float: right;
  	color: #000000;
  	border-left: 1px solid #000000;
  	font-weight: bold;
  }

  &__post-title {
  	font-family: 'Anton', sans-serif;
  	display: inline-block;
    color: #000000;
    text-decoration: none;
    padding: 12px 0 0 10px;
    font-size: 17px;
  }

}

.sidebar-image {
	width: 100%;
	height: auto;
}

.quote {
	font-size: 12px !important;
}

.facebook-wrapper {
  
  a {
	  background-color: $face-color;
	  color : #FFFFFF;
	  display: block;
	  text-decoration: none;
	  text-align: center;
	  -webkit-transition: background-color linear 0.5s;
    transition : background-color linear 0.5s;

	  &:hover {
	  	background-color: #242E82;
	  }
  }

	&__normal-link {
		width: 100%;
		padding: 25px 0;
	  font-size: 19px;
	  font-weight: bold;
	}


	&__face-link {
		padding: 30px 0 35px 0;
		font-size: 65px;
	}
  

}

 .history {

 	 li {
 		display: block;
 		overflow: hidden;
 	 }

   a {
   	display: block;
   	width: 100%;
   	color: #FFFFFF;
   	text-decoration: none;
   	padding: 15px 0 15px 10px;
   	-webkit-transition: background-color linear 0.3s;
    transition : background-color linear 0.3s;
   }

   &__year {
   	background-color: $nested-list-top;
   	&:hover {
     background-color: $nested-list-top-hover;
   	}
   }
   
   &__month {
   	display: none !important;
   	background-color: $nested-list-medium;
   	&:hover {
   		background-color: $nested-list-medium-hover;
   	}
   }

   &__post {
   	display: none !important;
   	background-color: $nested-list-low;
   	&:hover {
   		background-color: $nested-list-low-hover;
   	}
   }

 }