.post-wrapper {

    padding: $general-margin-padding;

    &__post-title {
        font-size: 40px;
        padding: 10px 0 20px 0;
    }

    &__read-more{
        width: 137px;
        margin-left: auto;
        margin-right: 10px;
        display: block !important;
        margin-top: 30px;
        font-size: 25px;

        i {
            padding-left: 10px;
        }
    }

    &__post-data {
        padding-bottom: 15px;

        ul {
            padding-left: 5px;
        }

        ul li {
            display: inline-block;
            margin-right: 15px;

            .icon {
                margin-right: 3px;
            }

            a {
                @include baselink( $brown-link );
                @include link-border-animated( $brown-link );
            }
        }
    }

    &__post-content {
        p, h1, h2, h3, h4, h5, h6, img {
            padding-top: 20px;
        }

        p {
            line-height: $general-line-height;
        }

        img {
            @include auto-block;
        }

        a {
            @include baselink( $fb-background-color );
            @include link-border-animated( $fb-background-color, 0 );
        }
    }

    &__featured-image{
        width: 100%;
        max-width: 820px;
        height: auto;
    }
}