.gallery-item {
    display: block;
    width: 90%;
    max-width: 820px;
    margin: 30px 0 40px 36px;
    border: 1px solid $link-grey;

    @media screen and ( max-width: 674px ) {
        margin: 30px auto 40px auto;
    }

    &__section {
    }

    &__section--image {
        display: block;
        padding-top: 24px;
    }

    &__image {
        display: block;
        width: 300px;
        height: auto;
        margin: $auto;
    }

    &__title {
        padding: 15px 0 5px 15px;
        font-size: 22px;
    }

    &__data {
        @include float-container;
        padding-left: 15px;
        
        li {
            float: left;
            padding-right: 10px;
            font-size: 15px;
            color: #8C8B83;
            @include has-icon( 1px );
        }
    }

    &__description {
        width: 90%;
        padding: 15px 0 0 15px;
        line-height: $general-line-height;
        max-height: 63px;
    }

    &__view-link {
        display: block;
        margin-top: 2px;
        background-color: $black-grey;
        color: $white;
        text-decoration: none;
        padding: 10px 0 10px 15px;

        i {
            margin-left: 5px;
            @include do-transition( margin-left );
        }

        &:hover {
            i {
                margin-left: 10px;
            }
        }
    }
}