
.notification {
    font-size: 30px;
    padding-top: 50px;

    i {
        font-size: 35px;
        padding-right: 3px;
    }

    &__success i {
        color: $green;
    }

    &__error i {
        color: $red;
    }
}