.pagination {
    @include float-container;
    width: 100%;
    background-color: $white;

    &__link-wrapper {
        float: left;
        width: 50%;
        height: 84px;
    }

    &__link {
        @include baselink( $black, block );
        width: 100%;
        font-size: 30px;
        padding: 25px 0 25px 25px;
    }

    .previous {
        color: $black;
        border-top: 1px solid #d8d3d3;

        i {
            margin-right: 5px;
            @include do-transition( margin-right );
        }

        &:hover {
            i {
                margin-right: 10px;
            }
        }
    }

    .next {
        color: $white;
        background-color: #522C70;

        i {
            margin-left: 5px;
            @include do-transition( margin-left );
        }

        &:hover {
            i {
                margin-left: 10px;
            }
        }
    }
}