.posts-container {
    width: 100%;
    @include float-container;

    &--home {
        margin: 25px 0;
    }
}


.post-item {
    @include set-width( 300px );
    float: left;
    margin: 35px 0 35px 30px;
    border: 1px solid $link-grey;
    border-radius: 15px;

    &__image_link {
        display: block;
    }

    &__featured-image {
        @include set-width( 300px );
        height: auto;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
    }

    &__title-link {
        @include baselink;
        width: 80%;
        padding: 10px;
    }

    &__data {
        padding: 10px;
    }

    &__data--element {
        padding-bottom: 8px;
        @include has-icon;
    }

    &__category-link {
        @include baselink( $brown-link );
        @include link-border-animated( $brown-link );
        @include has-icon;
    }
}

.read-link {
    display: block;
    position: absolute;
    width: 58%;
    left: 0;
    bottom: 0;
    padding: 10px 0 10px 15px;
    margin-top: 2px;
    background-color: $black-grey;
    color: $white;
    text-decoration: none;

    i {
        margin-left: 5px;
        @include do-transition( margin-left );
    }

    &:hover {
        i {
            margin-left: 10px;
        }
    }

    &--home {
        position: initial;
        width: 100%;
        margin-top: 40px;
    }
}