.team-item {
    margin: 26px 0 30px 35px;
    width: 90%;
    max-width: 1200px;

    @media screen and ( max-width: 640px ) {
      margin: 20px auto 40px auto;
    }

    &__title {
        font-size: 30px;
        margin-bottom: 19px;
        width: 100%;
        padding-bottom: 3px;
    }

    &__wrapper {
        @include float-container;
    }

    &__section {
        float: left;
        width: 40%;

        @media screen and ( max-width: 640px ) {
            @include non-float-anymore;
        }
    }

    &__section--data {
        float: right;
        background-color: #EAF1F9;
        padding: 20px 40px;
        
        @media screen and ( max-width: 640px ) {
            @include non-float-anymore;
            padding: 0;
        }
    }

    &__image {
        width: 100%;
        height: auto;
    }

    &__data {
        margin-bottom: 15px;
        @media screen and ( max-width: 640px ) {
            padding: 20px 0 0 20px;
        }

        li {
            padding: 10px 0;

            @media screen and ( max-width: 640px ) {
                padding: 10px 0 10px 10px;
            }
            
            i {
                font-size: 22px;
                margin-right: 5px;
            }
        }
    }

    &__description {
        line-height: 1.3;
        padding-bottom: 12px;

        @media screen and ( max-width: 640px ) {
            display: block;
            width: 80%;
            padding: 20px 0 20px 30px;
        }
    }
}