.team-item {
    margin: 26px 0 30px 35px;
    width: 90%;
    max-width: 1200px;

    &__title {
        font-size: 30px;
        margin-bottom: 19px;
        width: 100%;
        padding-bottom: 3px;
    }

    &__wrapper {
        @include float-container;
    }

    &__section {
        float: left;
        width: 40%;
    }

    &__section--data {
        float: right;
        background-color: #EAF1F9;
        padding: 20px 40px;
    }

    &__image {
        width: 100%;
        height: auto;
    }

    &__data {
        margin-bottom: 15px;

        li {
            padding: 10px 0;
            
            i {
                font-size: 22px;
                margin-right: 5px;
            }
        }
    }

    &__description {
        line-height: 1.3;
        padding-bottom: 12px;
    }
}