
// Float elements wrapper.
@mixin float-container {
    overflow: hidden;
    clear: both;
}

// link base.
@mixin baselink( $color : $black, $display : inline-block ) {
    text-decoration: none;
    color: $color;
    display: $display;
}

// link border animation
@mixin link-border-animated( $color : $black, $margin-top : 5px, $duration : .3s ) {
    &::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: $color;
        margin-top: $margin-top;
        transition: width $duration;
        -webkit-transition: width $duration;
    }

    &:hover::after {
        width: 100%;
    }
}

// align display block elements to the center
@mixin auto-block {
    display: block;
    margin: 0 auto;
}

// base text input - textarea
@mixin base-text-input ( $margin : 15px 0, $padding : 5px, $max_width : 300px, $border_bottom : 1px solid $black ) {
    display: block;
    margin: $margin;
    padding: $padding;
    width: 100%;
    max-width: $max_width;
    border: none;
    border-bottom: $border_bottom;
    outline: 0;
}

// base submit input
@mixin base-submit-input ( $width : 400px, $padding : 10px 0, $background_color : $white, $color : $black ){
    display: block;
    max-width: 100%;
    width: $width;
    padding: $padding;
    background-color: $background_color;
    color : $color;
    border : none;
}

// set border color - used in several animations.
@mixin set-border-color (  $color : $black ) {
    border-color: $color;
}

// execute transition.
@mixin do-transition ( $property, $time : .5s, $type : ease ) {
    transition: $property $time $type;
    -webkit-transition: $property $time $type;
}