 /* Generl layout colors */
 $black-grey : #2E3137;
 $light-grey : #9AA6C0;
 $fb-background-color : #4267b2;
 $fb-dark-color : #365899;
 $link-grey : #D4D1C0;
 $black : #000000;
 $white : #ffffff;
 $git-purple : #4D3B70;
 $hover-menu : #6A7EFF;
 $brown-link : #AB7312;
 $submit-red : #CA0651;
 $dark-red : #8A0638;
 
 /* General margin - padding */
 $general-margin-padding : 25px;
 $icon-margin-padding : 5px;
 $auto : 0 auto;

 /* General line height */
 $general-line-height : 1.4;

 /* float columns same size trick */
 $padding-trick : 500em;
 $margin-trick : -500em;
 
 
 /* Variables for mobile menu */
$mobile-menu-background-color : #232740;
$mobile-light-color           : #8C99FC;
$mobile-menu-padding          : 20px;
$mobile-font-size             : 20px;