 /* Main site variables      */
$main-padding                 : 12px;
$main-content-font            : 18px;
$main-sidebar-font            : 16px;

/* Main site colors          */
$black-orange                 : #F24200;
$black-blue                   : #0D00A6;
$light-blue                   : #1395F0;
$face-color                   : #3b5998;

/* Sidebar nested list colors */
$nested-list-top              : #350172;
$nested-list-medium           : #4936F4;
$nested-list-low              : #4881BF;
$nested-list-top-hover        : #180033;
$nested-list-medium-hover     : #493695;
$nested-list-low-hover        : #355F8C;

 /* Variables for mobile menu*/
$mobile-menu-background-color : #232740;
$mobile-light-color           : #8C99FC;
$mobile-menu-padding          : 20px;
$mobile-font-size             : 20px;

/*

*/
